# Compiled files
*.ex5
*.ex4

# Logs
*.log

# Cache and config files
*.dat
*.tmp

# History and tester files
*.hst
*.fxt
tester/*

# Common OS clutter
.DS_Store
Thumbs.db

# IDE configs (if using VSCode, CLion, etc.)
.vscode/
.idea/
